In [19]:
import pandas as pd

df = pd.read_csv("kaggle_survey_2020_responses.csv")
df.head()

C:\Users\snkty\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Way too many columns
df = df[['Q1',
         'Q2', 
         'Q3',
         'Q4', 
         'Q5', 
         'Q6',
         'Q7_Part_1',
         'Q7_Part_2', 
         'Q7_Part_3', 
         'Q7_Part_4',
         'Q7_Part_5',
         'Q7_Part_6',
         'Q7_Part_7',
         'Q7_Part_8', 
         'Q7_Part_9',
         'Q7_Part_10',
         'Q7_Part_11', 
         'Q7_Part_12',
         'Q9_Part_1',
         'Q9_Part_2',
         'Q9_Part_3',
         'Q9_Part_4',
         'Q9_Part_5',
         'Q9_Part_6',
         'Q9_Part_7',
         'Q9_Part_8',
         'Q9_Part_9',
         'Q9_Part_10',
         'Q9_Part_11',
         'Q10_Part_1',
         'Q10_Part_2',
         'Q10_Part_3',
         'Q10_Part_4',
         'Q10_Part_5',
         'Q10_Part_6',
         'Q10_Part_7',
         'Q10_Part_8',
         'Q10_Part_9',
         'Q10_Part_10',
         'Q10_Part_11',
         'Q10_Part_12',
         'Q10_Part_13',
         'Q14_Part_1',
         'Q14_Part_2',
         'Q14_Part_3',
         'Q14_Part_4',
         'Q14_Part_5',
         'Q14_Part_6',
         'Q14_Part_7',
         'Q14_Part_8',
         'Q14_Part_9',
         'Q14_Part_10',
         'Q14_Part_11',
         'Q15',
         'Q16_Part_1',
         'Q16_Part_2',
         'Q16_Part_3',
         'Q16_Part_4',
         'Q16_Part_5',
         'Q16_Part_6',
         'Q16_Part_7',
         'Q16_Part_8',
         'Q16_Part_9',
         'Q16_Part_10',
         'Q16_Part_11',
         'Q16_Part_12',
         'Q16_Part_13',
         'Q16_Part_14',
         'Q16_Part_15',
         'Q17_Part_1',
         'Q17_Part_2',
         'Q17_Part_3',
         'Q17_Part_4',
         'Q17_Part_5',
         'Q17_Part_6',
         'Q17_Part_7',
         'Q17_Part_8',
         'Q17_Part_9',
         'Q17_Part_10',
         'Q17_Part_11',
         'Q19_Part_1',
         'Q19_Part_2',
         'Q19_Part_3',
         'Q19_Part_4',
         'Q19_Part_5',
         'Q20',
         'Q21',
         'Q22',
         'Q23_Part_1',
         'Q23_Part_2',
         'Q23_Part_3',
         'Q23_Part_4',
         'Q23_Part_5',
         'Q23_Part_6',
         'Q23_Part_7',
         'Q24',
         'Q25',
         'Q28_A_Part_1',
         'Q28_A_Part_2',
         'Q28_A_Part_3',
         'Q28_A_Part_4',
         'Q28_A_Part_5',
         'Q28_A_Part_6',
         'Q28_A_Part_7',
         'Q28_A_Part_8',
         'Q28_A_Part_9',
         'Q28_A_Part_10',
         'Q35_A_Part_1',
         'Q35_A_Part_2',
         'Q35_A_Part_3',
         'Q35_A_Part_4',
         'Q35_A_Part_5',
         'Q35_A_Part_6',
         'Q35_A_Part_7',
         'Q35_A_Part_8',
         'Q35_A_Part_9',
         'Q35_A_Part_10',
         'Q37_Part_1',
         'Q37_Part_2',
         'Q37_Part_3',
         'Q37_Part_4',
         'Q37_Part_5',
         'Q37_Part_6',
         'Q37_Part_7',
         'Q37_Part_8',
         'Q37_Part_9',
         'Q37_Part_10',
         'Q37_Part_11',
         'Q39_Part_1',
         'Q39_Part_2',
         'Q39_Part_3',
         'Q39_Part_4',
         'Q39_Part_5',
         'Q39_Part_6',
         'Q39_Part_7',
         'Q39_Part_8',
         'Q39_Part_9',
         'Q39_Part_10',
         'Q39_Part_11']]
df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,Q7_Part_4,...,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_Part_10,Q39_Part_11
0,What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...
1,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,C,...,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,NaN,...,NaN,"Reddit (r/machinelearning, etc)","Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...","YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,"Slack Communities (ods.ai, kagglenoobs, etc)",NaN
3,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,NaN,...,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN
4,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20032,18-21,Man,Turkey,Some college/university study without earning ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20033,55-59,Woman,United Kingdom of Great Britain and Northern I...,Master’s degree,Currently not employed,20+ years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
20034,30-34,Man,Brazil,Master’s degree,Research Scientist,< 1 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20035,22-24,Man,India,Bachelor’s degree,Software Engineer,3-5 years,Python,NaN,SQL,C,...,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN
20036,22-24,Man,Pakistan,Master’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,NaN,...,NaN,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...","YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN

In [27]:
# Rename Columns 
df.columns = ['age',
              'gender',
              'country',
              'education',
              'job_title',
              'years_coding',
         'Q7_Part_1',
         'Q7_Part_2', 
         'Q7_Part_3', 
         'Q7_Part_4',
         'Q7_Part_5',
         'Q7_Part_6',
         'Q7_Part_7',
         'Q7_Part_8', 
         'Q7_Part_9',
         'Q7_Part_10',
         'Q7_Part_11', 
         'Q7_Part_12',
         'Q9_Part_1',
         'Q9_Part_2',
         'Q9_Part_3',
         'Q9_Part_4',
         'Q9_Part_5',
         'Q9_Part_6',
         'Q9_Part_7',
         'Q9_Part_8',
         'Q9_Part_9',
         'Q9_Part_10',
         'Q9_Part_11',
         'Q10_Part_1',
         'Q10_Part_2',
         'Q10_Part_3',
         'Q10_Part_4',
         'Q10_Part_5',
         'Q10_Part_6',
         'Q10_Part_7',
         'Q10_Part_8',
         'Q10_Part_9',
         'Q10_Part_10',
         'Q10_Part_11',
         'Q10_Part_12',
         'Q10_Part_13',
         'Q14_Part_1',
         'Q14_Part_2',
         'Q14_Part_3',
         'Q14_Part_4',
         'Q14_Part_5',
         'Q14_Part_6',
         'Q14_Part_7',
         'Q14_Part_8',
         'Q14_Part_9',
         'Q14_Part_10',
         'Q14_Part_11',
              'Years_ML',
         'Q16_Part_1',
         'Q16_Part_2',
         'Q16_Part_3',
         'Q16_Part_4',
         'Q16_Part_5',
         'Q16_Part_6',
         'Q16_Part_7',
         'Q16_Part_8',
         'Q16_Part_9',
         'Q16_Part_10',
         'Q16_Part_11',
         'Q16_Part_12',
         'Q16_Part_13',
         'Q16_Part_14',
         'Q16_Part_15',
         'Q17_Part_1',
         'Q17_Part_2',
         'Q17_Part_3',
         'Q17_Part_4',
         'Q17_Part_5',
         'Q17_Part_6',
         'Q17_Part_7',
         'Q17_Part_8',
         'Q17_Part_9',
         'Q17_Part_10',
         'Q17_Part_11',
         'Q19_Part_1',
         'Q19_Part_2',
         'Q19_Part_3',
         'Q19_Part_4',
         'Q19_Part_5',
              'Company_Size',
              'Important_Role',
              'ML_at_Company',
               'Q23_Part_1',
         'Q23_Part_2',
         'Q23_Part_3',
         'Q23_Part_4',
         'Q23_Part_5',
         'Q23_Part_6',
         'Q23_Part_7',
              'salary',
              'Money_spent_ML',
                'Q28_A_Part_1',
         'Q28_A_Part_2',
         'Q28_A_Part_3',
         'Q28_A_Part_4',
         'Q28_A_Part_5',
         'Q28_A_Part_6',
         'Q28_A_Part_7',
         'Q28_A_Part_8',
         'Q28_A_Part_9',
         'Q28_A_Part_10',
         'Q35_A_Part_1',
         'Q35_A_Part_2',
         'Q35_A_Part_3',
         'Q35_A_Part_4',
         'Q35_A_Part_5',
         'Q35_A_Part_6',
         'Q35_A_Part_7',
         'Q35_A_Part_8',
         'Q35_A_Part_9',
         'Q35_A_Part_10',
         'Q37_Part_1',
         'Q37_Part_2',
         'Q37_Part_3',
         'Q37_Part_4',
         'Q37_Part_5',
         'Q37_Part_6',
         'Q37_Part_7',
         'Q37_Part_8',
         'Q37_Part_9',
         'Q37_Part_10',
         'Q37_Part_11',
         'Q39_Part_1',
         'Q39_Part_2',
         'Q39_Part_3',
         'Q39_Part_4',
         'Q39_Part_5',
         'Q39_Part_6',
         'Q39_Part_7',
         'Q39_Part_8',
         'Q39_Part_9',
         'Q39_Part_10',
         'Q39_Part_11']

In [28]:
# Combine multiple choice answers
df['Programming_Langauges'] = df[df.columns[8:19]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['IDEs'] = df[df.columns[22:32]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['Notebooks'] = df[df.columns[34:46]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['data_visualization'] = df[df.columns[54:64]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['ML_frameworks'] = df[df.columns[67:81]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['ML_algorithms'] = df[df.columns[83:93]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['NLP'] = df[df.columns[102:106]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['Important_Roles'] = df[df.columns[111:117]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['ML_Products'] = df[df.columns[145:154]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df['ML_Tools'] = df[df.columns[211:220]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['Data_Science_Path'] = df[df.columns[232:242]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['Media_sources'] = df[df.columns[245:255]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

In [29]:
for col in df.columns:
    if 'Part' in col:
        del df[col]

In [30]:
df = df.dropna()

In [31]:
Women_df = df[df['gender'] == 'Woman']
Women_df

,age,gender,country,education,job_title,years_coding,Years_ML,Company_Size,Important_Role,ML_at_Company,...,Notebooks,data_visualization,ML_frameworks,ML_algorithms,NLP,Important_Roles,ML_Products,ML_Tools,Data_Science_Path,Media_sources
21,22-24,Woman,India,Doctoral degree,Statistician,3-5 years,4-5 years,50-249 employees,1-2,We are exploring ML methods (and may one day p...,...,,,None;Linear or Logistic Regression;Decision Tr...,50-249 employees;1-2;We are exploring ML metho...,,,;,,,
23,55-59,Woman,Canada,Master’s degree,Product/Project Manager,1-2 years,1-2 years,250-999 employees,5-9,"We recently started using ML methods (i.e., mo...",...,IBM Watson Studio ; Amazon Sagemaker Studio ;...,,None;Linear or Logistic Regression;Decision Tr...,250-999 employees;5-9;We recently started usin...,,No / None,;No / None,,,
31,35-39,Woman,Pakistan,Master’s degree,Data Analyst,5-10 years,4-5 years,"1000-9,999 employees",3-4,We use ML methods for generating insights (but...,...,Matplotlib ; Plotly / Plotly Express ; Ggplot...,Scikit-learn ; TensorFlow ; Keras ; Xgboost...,Linear or Logistic Regression;Decision Trees o...,"Transformer language models (GPT-3, BERT, XLne...",,TensorBoard ; Trains,; TensorBoard ; Trains,,,
45,25-29,Woman,Belarus,Master’s degree,Machine Learning Engineer,1-2 years,Under 1 year,0-49 employees,0,I do not know,...,Matplotlib ; Seaborn,Scikit-learn ; TensorFlow ; Keras,Linear or Logistic Regression;Gradient Boostin...,0-49 employees;0;I do not know,,,;,,,
61,18-21,Woman,Indonesia,Bachelor’s degree,Data Scientist,< 1 years,Under 1 year,0-49 employees,20+,"We recently started using ML methods (i.e., mo...",...,None; Ggplot / ggplot2,Keras,Linear or Logistic Regression;Decision Trees o...,0-49 employees;20+;We recently started using M...,,,;,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19972,30-34,Woman,Kenya,Master’s degree,Other,< 1 years,I do not use machine learning methods,0-49 employees,3-4,No (we do not use ML methods),...,None; Matplotlib,,,0-49 employees;3-4;No (we do not use ML method...,,,;,,,
19983,22-24,Woman,Ireland,Some college/university study without earning ...,Software Engineer,1-2 years,Under 1 year,"10,000 or more employees",20+,We use ML methods for generating insights (but...,...,Google Cloud Datalab Notebooks; Matplotlib,Scikit-learn ; PyTorch,Linear or Logistic Regression;Decision Trees o...,"10,000 or more employees;20+;We use ML methods...",,,;,,,
19998,22-24,Woman,Romania,Master’s degree,Other,3-5 years,Under 1 year,0-49 employees,0,No (we do not use ML methods),...,None,TensorFlow ; Keras,Convolutional Neural Networks,0-49 employees;0;No (we do not use ML methods),,,;,,,
20008,22-24,Woman,India,Master’s degree,Software Engineer,< 1 years,Under 1 year,50-249 employees,5-9,"We recently started using ML methods (i.e., mo...",...,Matplotlib ; Seaborn ; Plotly / Plotly Expres...,Scikit-learn ; TensorFlow ; Keras ; PyTorch,Linear or Logistic Regression;Decision Trees o...,50-249 employees;5-9;We recently started using...,Google Cloud Vision AI,TensorBoard,Google Cloud Vision AI ; TensorBoard,,,
20014,30-34,Woman,Turkey,Bachelor’s degree,Other,1-2 years,Under 1 year,"1000-9,999 employees",0,I do not know,...,Seaborn,Scikit-learn ; Xgboost,Linear or Logistic Regression;Decision Trees o...,"1000-9,999 employees;0;I do not know",,No / None,;No / None,,,

In [32]:
Men_df = df[df['gender'] == 'Man']
Men_df

,age,gender,country,education,job_title,years_coding,Years_ML,Company_Size,Important_Role,ML_at_Company,...,Notebooks,data_visualization,ML_frameworks,ML_algorithms,NLP,Important_Roles,ML_Products,ML_Tools,Data_Science_Path,Media_sources
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,1-2 years,"10,000 or more employees",20+,"We have well established ML methods (i.e., mod...",...,Matplotlib ; Seaborn ; Ggplot / ggplot2,Scikit-learn ; TensorFlow ; Keras ; PyTorch,Linear or Logistic Regression;Convolutional Ne...,"Transformer language models (GPT-3, BERT, XLne...",,No / None,;No / None,,,
3,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,I do not use machine learning methods,"1000-9,999 employees",0,No (we do not use ML methods),...,None,,,"1000-9,999 employees;0;No (we do not use ML me...",,No / None,;No / None,,,
4,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,3-4 years,250-999 employees,5-9,"We have well established ML methods (i.e., mod...",...,None; Matplotlib ; Seaborn ; Plotly / Plotly E...,Scikit-learn ; TensorFlow ; Keras ; Xgboost,Linear or Logistic Regression;Decision Trees o...,250-999 employees;5-9;We have well established...,,No / None,;No / None,,,
9,35-39,Man,Germany,Doctoral degree,Data Scientist,5-10 years,2-3 years,"1000-9,999 employees",20+,"We have well established ML methods (i.e., mod...",...,Matplotlib ; Seaborn,Scikit-learn ; TensorFlow ; Keras ; PyTorch...,"Gradient Boosting Machines (xgboost, lightgbm,...","1000-9,999 employees;20+;We have well establis...",,TensorBoard,; TensorBoard,,,
12,35-39,Man,United States of America,Doctoral degree,Research Scientist,1-2 years,Under 1 year,0-49 employees,1-2,We use ML methods for generating insights (but...,...,None; Ggplot / ggplot2,,Linear or Logistic Regression,0-49 employees;1-2;We use ML methods for gener...,,No / None,;No / None,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20025,35-39,Man,Malaysia,I prefer not to answer,Machine Learning Engineer,1-2 years,1-2 years,0-49 employees,5-9,I do not know,...,None; Matplotlib,Scikit-learn ; Keras ; PyTorch,Linear or Logistic Regression;Decision Trees o...,0-49 employees;5-9;I do not know;Analyze and u...,,,;,,,
20030,35-39,Man,Thailand,Bachelor’s degree,Other,10-20 years,I do not use machine learning methods,250-999 employees,0,No (we do not use ML methods),...,None,,,250-999 employees;0;No (we do not use ML metho...,,No / None,;No / None,,,
20034,30-34,Man,Brazil,Master’s degree,Research Scientist,< 1 years,I do not use machine learning methods,0-49 employees,0,We are exploring ML methods (and may one day p...,...,Matplotlib ; Seaborn,,,0-49 employees;0;We are exploring ML methods (...,,,;,,,
20035,22-24,Man,India,Bachelor’s degree,Software Engineer,3-5 years,1-2 years,"10,000 or more employees",20+,"We recently started using ML methods (i.e., mo...",...,Matplotlib ; Seaborn ; Plotly / Plotly Expres...,Scikit-learn ; TensorFlow ; Keras ; PyTorch...,Linear or Logistic Regression;Decision Trees o...,"10,000 or more employees;20+;We recently start...",,,;,,,
20036,22-24,Man,Pakistan,Master’s degree,Machine Learning Engineer,< 1 years,Under 1 year,0-49 employees,0,I do not know,...,Matplotlib,TensorFlow,Linear or Logistic Regression;Decision Trees o...,0-49 employees;0;I do not know;Analyze and und...,,,;,,,

In [33]:
df.to_csv(r"clean_kaggle_survey_2020_responses.csv")