In [125]:
import pandas as pd

df = pd.read_csv("multiple_choice_responses.csv", index_col=False)
df.head()

C:\Users\snkty\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (0,3,7,19,34,47,49,50,51,52,53,54,68,81,94,96,109,115,130,139,147,154,167,180,193,206,219,232,245) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1

In [126]:
# Way too many columns
df = df[['Q1',
         'Q2', 
         'Q3',
         'Q4', 
         'Q5', 
         'Q6',
         'Q7',
         'Q8',
         'Q9_Part_1',
         'Q9_Part_2',
         'Q9_Part_3',
         'Q9_Part_4',
         'Q9_Part_5',
         'Q9_Part_6',
         'Q9_Part_7',
         'Q10',
         'Q11',
         'Q12_Part_1',
         'Q12_Part_2',
         'Q12_Part_3',
         'Q12_Part_4',
         'Q12_Part_5',
         'Q12_Part_6',
         'Q12_Part_7',
         'Q12_Part_8',
         'Q12_Part_9',
         'Q12_Part_10',
         'Q12_Part_11',
         'Q12_Part_12',
         'Q13_Part_1',
         'Q13_Part_2',
         'Q13_Part_3',
         'Q13_Part_4',
         'Q13_Part_5',
         'Q13_Part_6',
         'Q13_Part_7',
         'Q13_Part_8',
         'Q13_Part_9',
         'Q13_Part_10',
         'Q13_Part_11',
         'Q13_Part_12',
         'Q14',
         'Q16_Part_1',
         'Q16_Part_2',
         'Q16_Part_3',
         'Q16_Part_4',
         'Q16_Part_5',
         'Q16_Part_6',
         'Q16_Part_7',
         'Q16_Part_8',
         'Q16_Part_9',
         'Q16_Part_10',
         'Q16_Part_11',
         'Q16_Part_12',
         'Q17_Part_1',
         'Q17_Part_2',
         'Q17_Part_3',
         'Q17_Part_4',
         'Q17_Part_5',
         'Q17_Part_6',
         'Q17_Part_7',
         'Q17_Part_8',
         'Q17_Part_9',
         'Q17_Part_10',
         'Q17_Part_11',
         'Q17_Part_12',
         'Q18_Part_1',
         'Q18_Part_2',
         'Q18_Part_3',
         'Q18_Part_4',
         'Q18_Part_5',
         'Q18_Part_6',
         'Q18_Part_7',
         'Q18_Part_8',
         'Q18_Part_9',
         'Q18_Part_10',
         'Q18_Part_11',
         'Q18_Part_12',
         'Q19',
         'Q20_Part_1',
         'Q20_Part_2',
         'Q20_Part_3',
         'Q20_Part_4',
         'Q20_Part_5',
         'Q20_Part_6',
         'Q20_Part_7',
         'Q20_Part_8',
         'Q20_Part_9',
         'Q20_Part_10',
         'Q20_Part_11',
         'Q20_Part_12',
         'Q23',
         'Q24_Part_1',
         'Q24_Part_2',
         'Q24_Part_3',
         'Q24_Part_4',
         'Q24_Part_5',
         'Q24_Part_6',
         'Q24_Part_7',
         'Q24_Part_8',
         'Q24_Part_9',
         'Q24_Part_10',
         'Q24_Part_11',
         'Q24_Part_12',
         'Q25_Part_1',
         'Q25_Part_2',
         'Q25_Part_3',
         'Q25_Part_4',
         'Q25_Part_5',
         'Q25_Part_6',
         'Q25_Part_7',
         'Q25_Part_8',
         'Q27_Part_1',
         'Q27_Part_2',
         'Q27_Part_3',
         'Q27_Part_4',
         'Q27_Part_5',
         'Q27_Part_6',
         'Q28_Part_1',
         'Q28_Part_2',
         'Q28_Part_3',
         'Q28_Part_4',
         'Q28_Part_5',
         'Q28_Part_6',
         'Q28_Part_7',
         'Q28_Part_8',
         'Q28_Part_9',
         'Q28_Part_10',
         'Q28_Part_11',
         'Q28_Part_12',
         'Q32_Part_1',
         'Q32_Part_2',
         'Q32_Part_3',
         'Q32_Part_4',
         'Q32_Part_5',
         'Q32_Part_6',
         'Q32_Part_7',
         'Q32_Part_8',
         'Q32_Part_9',
         'Q32_Part_10',
         'Q32_Part_11',
         'Q32_Part_12']]

In [127]:
# Rename Columns 
df.columns = ['age',
              'gender',
              'country',
              'education',
              'job_title',
              'company_size',
              'Number_Ppl_in_Workload',
              'ML_avaliable_at_company',
           'Q9_Part_1',
         'Q9_Part_2',
         'Q9_Part_3',
         'Q9_Part_4',
         'Q9_Part_5',
         'Q9_Part_6',
         'Q9_Part_7',
         'Q9_Part_8',
              'Salary',
              'ML_expenses'
              'Q12_Part_1',
         'Q12_Part_2',
         'Q12_Part_3',
         'Q12_Part_4',
         'Q12_Part_5',
         'Q12_Part_6',
         'Q12_Part_7',
         'Q12_Part_8',
         'Q12_Part_9',
         'Q12_Part_10',
         'Q12_Part_11',
         'Q12_Part_12',
         'Q13_Part_1',
         'Q13_Part_2',
         'Q13_Part_3',
         'Q13_Part_4',
         'Q13_Part_5',
         'Q13_Part_6',
         'Q13_Part_7',
         'Q13_Part_8',
         'Q13_Part_9',
         'Q13_Part_10',
         'Q13_Part_11',
         'Q13_Part_12',
              'Tool_to_analyze_data',
              'Q16_Part_1',
         'Q16_Part_2',
         'Q16_Part_3',
         'Q16_Part_4',
         'Q16_Part_5',
         'Q16_Part_6',
         'Q16_Part_7',
         'Q16_Part_8',
         'Q16_Part_9',
         'Q16_Part_10',
         'Q16_Part_11',
         'Q16_Part_12',
         'Q17_Part_1',
         'Q17_Part_2',
         'Q17_Part_3',
         'Q17_Part_4',
         'Q17_Part_5',
         'Q17_Part_6',
         'Q17_Part_7',
         'Q17_Part_8',
         'Q17_Part_9',
         'Q17_Part_10',
         'Q17_Part_11',
         'Q17_Part_12',
         'Q18_Part_1',
         'Q18_Part_2',
         'Q18_Part_3',
         'Q18_Part_4',
         'Q18_Part_5',
         'Q18_Part_6',
         'Q18_Part_7',
         'Q18_Part_8',
         'Q18_Part_9',
         'Q18_Part_10',
         'Q18_Part_11',
         'Q18_Part_12',
         'Q19',
         'Q20_Part_1',
         'Q20_Part_2',
         'Q20_Part_3',
         'Q20_Part_4',
         'Q20_Part_5',
         'Q20_Part_6',
         'Q20_Part_7',
         'Q20_Part_8',
         'Q20_Part_9',
         'Q20_Part_10',
         'Q20_Part_11',
         'Q20_Part_12',
              'Years_ML',
              'Q24_Part_1',
         'Q24_Part_2',
         'Q24_Part_3',
         'Q24_Part_4',
         'Q24_Part_5',
         'Q24_Part_6',
         'Q24_Part_7',
         'Q24_Part_8',
         'Q24_Part_9',
         'Q24_Part_10',
         'Q24_Part_11',
         'Q24_Part_12',
         'Q25_Part_1',
         'Q25_Part_2',
         'Q25_Part_3',
         'Q25_Part_4',
         'Q25_Part_5',
         'Q25_Part_6',
         'Q25_Part_7',
         'Q25_Part_8',
         'Q27_Part_1',
         'Q27_Part_2',
         'Q27_Part_3',
         'Q27_Part_4',
         'Q27_Part_5',
         'Q27_Part_6',
         'Q28_Part_1',
         'Q28_Part_2',
         'Q28_Part_3',
         'Q28_Part_4',
         'Q28_Part_5',
         'Q28_Part_6',
         'Q28_Part_7',
         'Q28_Part_8',
         'Q28_Part_9',
         'Q28_Part_10',
         'Q28_Part_11',
         'Q28_Part_12',
         'Q32_Part_1',
         'Q32_Part_2',
         'Q32_Part_3',
         'Q32_Part_4',
         'Q32_Part_5',
         'Q32_Part_6',
         'Q32_Part_7',
         'Q32_Part_8',
         'Q32_Part_9',
         'Q32_Part_10',
         'Q32_Part_11',
         'Q32_Part_12']
         
              
df

,age,gender,country,education,job_title,company_size,Number_Ppl_in_Workload,ML_avaliable_at_company,Q9_Part_1,Q9_Part_2,...,Q32_Part_3,Q32_Part_4,Q32_Part_5,Q32_Part_6,Q32_Part_7,Q32_Part_8,Q32_Part_9,Q32_Part_10,Q32_Part_11,Q32_Part_12
0,What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,Select any activities that make up an importan...,Select any activities that make up an importan...,...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...
1,22-24,Male,France,Master’s degree,Software Engineer,"1000-9,999 employees",0,I do not know,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,40-44,Male,India,Professional degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...",Analyze and understand data to influence produ...,Build and/or run the data infrastructure that ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-44,Male,Australia,Master’s degree,Other,"> 10,000 employees",20+,I do not know,NaN,NaN,...,Azure Machine Learning Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19713,50-54,Male,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19714,18-21,Male,India,Bachelor’s degree,Other,250-999 employees,3-4,I do not know,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19715,35-39,Male,India,Master’s degree,Student,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19716,25-29,Male,India,Master’s degree,Statistician,50-249 employees,15-19,"We recently started using ML methods (i.e., mo...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19717,50-54,Male,France,Bachelor’s degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...",NaN,Build and/or run the data infrastructure that ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
# Combine multiple choice answers
df['Important_Role'] = df[df.columns[12:19]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['Media_sources'] = df[df.columns[23:34]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['Data_Science_Path'] = df[df.columns[36:47]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['IDEs'] = df[df.columns[57:68]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['Notebooks'] = df[df.columns[70:81]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['Languages'] = df[df.columns[83:94]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['Data_visualization_tools'] = df[df.columns[98:109 ]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['ML_alogrithms'] = df[df.columns[119:130]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['ML_tools'] = df[df.columns[132:139]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['NLP_language'] = df[df.columns[149:154]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['ML_frameworks'] = df[df.columns[156:157]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

# Combine multiple choice answers
df['ML_products'] = df[df.columns[208:219]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)

df

,age,gender,country,education,job_title,company_size,Number_Ppl_in_Workload,ML_avaliable_at_company,Q9_Part_1,Q9_Part_2,...,Data_Science_Path,IDEs,Notebooks,Languages,Data_visualization_tools,ML_alogrithms,ML_tools,NLP_language,ML_frameworks,ML_products
0,What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,Select any activities that make up an importan...,Select any activities that make up an importan...,...,On which platforms have you begun or completed...,Which of the following hosted notebook product...,What programming languages do you use on a reg...,What data visualization libraries or tools do ...,Which of the following ML algorithms do you us...,Which of the following machine learning framew...,Which of the following machine learning produc...,Which of the following machine learning framew...,,
1,22-24,Male,France,Master’s degree,Software Engineer,"1000-9,999 employees",0,I do not know,NaN,NaN,...,Udemy;Basic statistical software (Microsoft Ex...,None;Python;R,Java;Javascript;MATLAB;Python; Matplotlib,1-2 years;Linear or Logistic Regression,,None,,None;,,
2,40-44,Male,India,Professional degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...",Analyze and understand data to influence produ...,Build and/or run the data infrastructure that ...,...,"Udemy;Cloud-based data software & APIs (AWS, G...",,,,,,,;,,
3,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,;,,
4,40-44,Male,Australia,Master’s degree,Other,"> 10,000 employees",20+,I do not know,NaN,NaN,...,University Courses (resulting in a university ...,Python;R,Bash;Python; Ggplot / ggplot2 ; Matplotlib,Seaborn ;2-3 years;Linear or Logistic Regression,Convolutional Neural Networks,TensorFlow ; Keras ; RandomForest,Azure Machine Learning Studio,TensorFlow ; Keras ; RandomForest;Azure Mach...,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19713,50-54,Male,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,;,,
19714,18-21,Male,India,Bachelor’s degree,Other,250-999 employees,3-4,I do not know,NaN,NaN,...,"Udemy;Local development environments (RStudio,...",,,,,,,;,,
19715,35-39,Male,India,Master’s degree,Student,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,;,,
19716,25-29,Male,India,Master’s degree,Statistician,50-249 employees,15-19,"We recently started using ML methods (i.e., mo...",NaN,NaN,...,,,,,,,,;,,
19717,50-54,Male,France,Bachelor’s degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...",NaN,Build and/or run the data infrastructure that ...,...,"Udemy;Local development environments (RStudio,...",IBM Watson Studio ;Python,Java;Bash;Python; Matplotlib,4-5 years;Linear or Logistic Regression;Decisi...,"Automated model selection (e.g. auto-sklearn, ...",Spark MLib,,Spark MLib ;,,

In [129]:
# df.drop(df.loc[:, 'Q9_Part_1':'Q9_Part_7', 'Q12_Part_1':'Q12_Part_12'].columns, axis = 1, inplace = True)
# #df.drop(df.loc[:, 'Q12_Part_1':'Q12_Part_12'].columns, axis = 1, inplace = True)
# df.drop(df.loc[:, 'Q16_Part_1':'Q18_Part_12'].columns, axis = 1, inplace = True)
# df.drop(df.loc[:, 'Q20_Part_1':'Q20_Part_12'].columns, axis = 1, inplace = True)
# df.drop(df.loc[:, 'Q24_Part_1':'Q32_Part_12'].columns, axis = 1, inplace = True)

In [130]:
Women_df = df[df['gender'] == 'Female']
Women_df

,age,gender,country,education,job_title,company_size,Number_Ppl_in_Workload,ML_avaliable_at_company,Q9_Part_1,Q9_Part_2,...,Data_Science_Path,IDEs,Notebooks,Languages,Data_visualization_tools,ML_alogrithms,ML_tools,NLP_language,ML_frameworks,ML_products
3,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,;,,
8,22-24,Female,United States of America,Bachelor’s degree,Data Scientist,"> 10,000 employees",20+,"We recently started using ML methods (i.e., mo...",Analyze and understand data to influence produ...,NaN,...,Udemy;University Courses (resulting in a unive...,"AWS Notebook Products (EMR Notebooks, Sagemake...",Python; Matplotlib,Plotly / Plotly Express ;3-4 years;Linear or ...,Convolutional Neural Networks,TensorFlow ; Keras ; Spark MLib,,TensorFlow ; Keras ; Spark MLib ;,,
16,50-54,Female,United States of America,Master’s degree,Data Analyst,50-249 employees,1-2,We use ML methods for generating insights (but...,Analyze and understand data to influence produ...,Build and/or run the data infrastructure that ...,...,Udemy;Other;Basic statistical software (Micros...,None;Python;R,SQL; Ggplot / ggplot2 ; Matplotlib,Seaborn ;Other;1-2 years;Linear or Logistic R...,,,,;,,
21,22-24,Female,Ireland,Master’s degree,Data Analyst,"1000-9,999 employees",10-14,We are exploring ML methods (and may one day p...,Analyze and understand data to influence produ...,Build and/or run the data infrastructure that ...,...,"Udemy;Advanced statistical software (SPSS, SAS...","Google Cloud Notebook Products (AI Platform, ...",Python; Ggplot / ggplot2 ; Matplotlib,Seaborn ;1-2 years;Linear or Logistic Regress...,"Automated data augmentation (e.g. imgaug, albu...",TensorFlow ; RandomForest,,TensorFlow ; RandomForest;,,
29,30-34,Female,Ukraine,Doctoral degree,Research Scientist,"1000-9,999 employees",3-4,No (we do not use ML methods),NaN,NaN,...,"Local development environments (RStudio, Jupyt...",Binder / JupyterHub ; IBM Watson Studio ;R,R; Ggplot / ggplot2,2-3 years;Linear or Logistic Regression,,None,,None;,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19678,30-34,Female,Australia,Doctoral degree,Research Scientist,"1000-9,999 employees",20+,"We have well established ML methods (i.e., mod...",Analyze and understand data to influence produ...,Build and/or run the data infrastructure that ...,...,,,,,,,,;,,
19692,30-34,Female,India,Master’s degree,Data Scientist,"> 10,000 employees",15-19,"We recently started using ML methods (i.e., mo...",NaN,NaN,...,,,,,,,,;,,
19695,22-24,Female,India,Bachelor’s degree,Software Engineer,"> 10,000 employees",1-2,No (we do not use ML methods),NaN,NaN,...,,,,,,,,;,,
19696,25-29,Female,Japan,Bachelor’s degree,Software Engineer,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,;,,
19709,25-29,Female,India,Professional degree,Not employed,NaN,NaN,NaN,NaN,NaN,...,LinkedIn Learning;University Courses (resultin...,,,,,,,;,,

In [131]:
Men_df = df[df['gender'] == 'Male']
Men_df

,age,gender,country,education,job_title,company_size,Number_Ppl_in_Workload,ML_avaliable_at_company,Q9_Part_1,Q9_Part_2,...,Data_Science_Path,IDEs,Notebooks,Languages,Data_visualization_tools,ML_alogrithms,ML_tools,NLP_language,ML_frameworks,ML_products
1,22-24,Male,France,Master’s degree,Software Engineer,"1000-9,999 employees",0,I do not know,NaN,NaN,...,Udemy;Basic statistical software (Microsoft Ex...,None;Python;R,Java;Javascript;MATLAB;Python; Matplotlib,1-2 years;Linear or Logistic Regression,,None,,None;,,
2,40-44,Male,India,Professional degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...",Analyze and understand data to influence produ...,Build and/or run the data infrastructure that ...,...,"Udemy;Cloud-based data software & APIs (AWS, G...",,,,,,,;,,
4,40-44,Male,Australia,Master’s degree,Other,"> 10,000 employees",20+,I do not know,NaN,NaN,...,University Courses (resulting in a university ...,Python;R,Bash;Python; Ggplot / ggplot2 ; Matplotlib,Seaborn ;2-3 years;Linear or Logistic Regression,Convolutional Neural Networks,TensorFlow ; Keras ; RandomForest,Azure Machine Learning Studio,TensorFlow ; Keras ; RandomForest;Azure Mach...,,
5,22-24,Male,India,Bachelor’s degree,Other,0-49 employees,0,No (we do not use ML methods),NaN,NaN,...,"Other;Local development environments (RStudio,...","Google Cloud Notebook Products (AI Platform, ...",Python; Matplotlib,Plotly / Plotly Express ; Seaborn ;< 1 years;...,,RandomForest; Xgboost ; LightGBM,,RandomForest; Xgboost ; LightGBM ;,,
6,50-54,Male,France,Master’s degree,Data Scientist,0-49 employees,3-4,"We have well established ML methods (i.e., mod...",NaN,NaN,...,"None;Advanced statistical software (SPSS, SAS,...",None;Python;R,Java; Ggplot / ggplot2,10-15 years;Linear or Logistic Regression;Deci...,Convolutional Neural Networks;Generative Adver...,TensorFlow ; Keras ; RandomForest; Xgboost ;...,RapidMiner,TensorFlow ; Keras ; RandomForest; Xgboost ;...,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19713,50-54,Male,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,;,,
19714,18-21,Male,India,Bachelor’s degree,Other,250-999 employees,3-4,I do not know,NaN,NaN,...,"Udemy;Local development environments (RStudio,...",,,,,,,;,,
19715,35-39,Male,India,Master’s degree,Student,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,;,,
19716,25-29,Male,India,Master’s degree,Statistician,50-249 employees,15-19,"We recently started using ML methods (i.e., mo...",NaN,NaN,...,,,,,,,,;,,
19717,50-54,Male,France,Bachelor’s degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...",NaN,Build and/or run the data infrastructure that ...,...,"Udemy;Local development environments (RStudio,...",IBM Watson Studio ;Python,Java;Bash;Python; Matplotlib,4-5 years;Linear or Logistic Regression;Decisi...,"Automated model selection (e.g. auto-sklearn, ...",Spark MLib,,Spark MLib ;,,

In [132]:
df.to_csv(r"cleaned_multiple_choice_responses.csv")